.whole{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  justify-content: space-between;

}
.whole{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
 margin: auto;
}
.card{
  box-shadow: 0px,4px,8px,0px rgba(0,0,0,0,2);
}
.whole img{
 width: 100%;
}
.content{
  text-align: center;
  padding: 10px;
}
.content h2{
  margin-top: 5px;
  letter-spacing: 1.5px;
  color: #333;
}
.content h3{
  font-size: 17px;
  color: #5c5c5c;
  letter-spacing: 1.5px;
}
.content p{
  margin-top: 10px;
  color: #5c5c5c;
}
.content a{
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #d9563f;
  color: #fff;
  font-size: 17px;
  padding: 5px,18px;
  border-radius: 40px;
  letter-spacing: 1px;

}
.content a:hover{
  background-color: #924141;
  transition: 0.2s ease;
}
@media screen and (max-width: 823px) {
 .whole{
  grid-template-columns: repeat(1,1fr);
 }
}